body 
{
  background-color:#0aaaa0;
  font-family:Cascadia Mono Semibold;
}
.header
{
  widht: 90%;
  margin:auto;
  height: 120px;
  line-height: 120px;
  background:#417aa9;
  color:#ffffff;
}


h3
{
  color:#ffffff;
}

ul
{
  color:#ffffff;

}

