body 
{
  background:#0aaaa0;
  color:#333;
  widht:100%;
  font-family:Cascadia Mono Semibold;
  margin:0 auto;
}
.header
{
  widht: 90%;
  margin:auto;
  height: 120px;
  line-height: 120px;
  background:#417aa9;
  color:#ffffff;
}
.menu
{
  
}


h3
{
  color:#ffffff;
}

ul
{
  color:#ffffff;

}






